<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/icon-car.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/home/style.css">
    <title><%= title %></title>
</head>
<body>
   
    <%- include('./partials/header'); %>
    <div class="container">
        <h1>Запрос 2. Список машин, максимальная скорость машины, имя владельца и возраст владельца</h1>
          
          <table class="table">
            <table class="table">
              <thead>
                <tr>
                  <th >id машины</th>
                  <th>Название машины</th>
                  <th>Максимальная скорость</th>
                  <th>Имя владельца</th>
                  <th>Возраст владельца</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <% for (let i = 0; i < cars.length; i++) { %>
                    <tr>
                      <th><%= cars[i].id %></th>
                      <td><%= cars[i].carName %></td>
                      <td><%= cars[i].maxSpeed + ' км/ч'%></td>
                      <td>
                        <% for (let j = 0; j < cars[i].Owners.length; j++) { %>
                          
                          <%= cars[i].Owners[j].firstName %><br>                                                
                       <% } %>
                      </td>
                      <td>
                        <% for (let j = 0; j < cars[i].Owners.length; j++) { %>
                          
                          <%= cars[i].Owners[j].age %><br>                                                
                       <% } %>
                      </td>
                      
                    </tr>
               <% } %>
              </tbody>
            </table>
    </div>  
</body>
</html>